{% extends 'base.html' %}
{%block title %}Student Database{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Student Database</a></li>
{% endblock %}
{% block content %}
<div class="container">

  <h1>STUDENT DATABASE HERE</h1>

  <a href="{% url "form1" %}"><button type="button" class="btn btn-outline-primary">Form 1</button></a>
  <a href="{% url "form2" %}"><button type="button" class="btn btn-outline-secondary">Form 2</button></a>
  <a href="{% url "form3" %}"><button type="button" class="btn btn-outline-success">Form 3</button></a>
  <a href="{% url "form4" %}"><button type="button" class="btn btn-outline-danger">Form 4</button></a>
  <a href="{% url "form5" %}"><button type="button" class="btn btn-outline-warning">Form 5</button></a>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>

        <p>
          <ul>
          {% for student in object_list %}
            <li>
              <a href="{{student.no_kp}}">{{ student.name }}</a>
            </li>
          {% endfor %}
          </ul>
        </p>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

</div>
{% endblock %}
