{% extends 'base.html' %}
{%block title %}Room Booking{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Room Booking</a></li>
{% endblock %}
{% block content %}



<div class="container">

<h2>Agenda</h2>
    <p class="lead">
        This agenda viewer will let you see multiple events cleanly!
    </p>


    <hr />

    <div class="agenda">
      <h1>Teacher Fazilawati</h1>
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">5</div>
                            <div class="dayofweek">Wednesday</div>
                            <div class="shortdate text-muted">September, 2018</div>
                        </td>
                        <td class="agenda-time">
                            3:30 PM - 4:30 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Student Counselling
                            </div>
                        </td>
                    </tr>

                    <!-- Multiple events in a single day (note the rowspan) -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="3">
                            <div class="dayofmonth">6</div>
                            <div class="dayofweek">Thursday</div>
                            <div class="shortdate text-muted">September, 2018</div>
                        </td>
                        <td class="agenda-time">
                            8:00 - 9:00 AM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Website Database Refining
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:15 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Meeting with executives
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            7:00 - 9:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                              Life Journey after SPM
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
