{% load humanize %}
{% load static %}
<!-- Old base.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "boards/css/bootstrap.min.css" %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "boards/css/sticky-footer.css" %}">
    </head>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="{% static "boards/images/logo_mrsm.png" %}" alt="Logo MRSM" width="5%" height="5%" >
      MRSM KuPa Counselling Department website..
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/about">About Us</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/boards">KuPa Boards</a>
              <a class="dropdown-item" href="/studentdb">Student Database</a>
              <a class="dropdown-item" href="/roombooking">Room Booking</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                  <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
                  <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                </div>
              </li>
            </ul>
          {% else %}
              <form class="form-inline ml-auto">
              <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
              <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
            </form>
          {% endif %}
        </form>
      </div>
    </nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
  {%  block breadcrumb %}
  {% endblock %}
  </ol>
</nav>
-->
<!DOCTYPE html>
<html >
<head>
  <title>{% block title %}Homepage{% endblock %}</title>
  <!-- Site made with Mobirise Website Builder v4.8.3, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="icon" type="image/png" href="{% static 'assets/images/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'assets/images/favicon-16x16.png' %}" sizes="16x16" />
  <link rel="shortcut icon" href="{% static 'assets/images/logo20maktab20rendah20sains20mara20mrsm-122x93.png' %}" type="image/x-icon">
  <meta name="description" content="">
  <link rel="stylesheet" href="{% static 'boards/css/bootstrap.min.css' %}" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'boards/css/sticky-footer.css' %}">
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css' %}">
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/soundcloud-plugin/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  <script>
      function RedirectURL()
  {          //getting current date
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = mm + '/' + dd + '/' + yyyy;
    //var baseurl =  window.location.hostname
    var baseurl =  'https://' + window.location.hostname 

    
    //Forming the variable to return
            
    goUrl = baseurl + '/appointment/view/' + today;
    console.log(goUrl)
    location.href = goUrl;
  }
</script>
</head>
<body>
  <section class="menu cid-qJ7KAQL3Sr" once="menu" id="menu1-0">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mrsm.com" target="_blank">
                         <img src="{% static 'assets/images/logo20maktab20rendah20sains20mara20mrsm-122x93.png' %}" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-success display-5" href="/">KUPA COUNSELOUR</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
              <li class="nav-item"><a class="nav-link link text-white display-4" href="/boards"><span class="mbri-sites mbr-iconfont mbr-iconfont-btn"></span>C-Forum</a></li>
              <li class="nav-item"><a class="nav-link link text-white display-4" href="/studentdb"><span class="mbrib-user mbr-iconfont mbr-iconfont-btn"></span>Student Database</a></li>
              <li class="nav-item"><a class="nav-link link text-white display-4" href="#" onclick="RedirectURL();return false;" ><span class="mbri-calendar mbr-iconfont mbr-iconfont-btn"></span>C-Booking</a></li>
              <li class="nav-item"><a class="nav-link link text-white display-4" href="#"><span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>Search</a></li>
                {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link link text-white display-4" href="{% url 'my_account' %}"  ></span>My Profile</a></li>
              <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="{% url 'logout' %}"><span class="mbri-arrow-down mbr-iconfont mbr-iconfont-btn"></span>Logout</a></div>
                {% else %}
              <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="{% url 'login' %}"><span class="mbri-arrow-down mbr-iconfont mbr-iconfont-btn"></span>Login</a></div>
                {% endif %}
          </div>
    </nav>
</section>
<style>
/* Mobirise */
.downer{
  bottom: -75px;
}
</style>
  <body class="downer">
    {% block content %}
    {% endblock %}
  </body>

    <script src='{% static "assets/web/assets/jquery/jquery.min.js" %}'></script>
    <script src='{% static "assets/popper/popper.min.js" %}'></script>
    <script src='{% static "assets/tether/tether.min.js" %}'></script>
    <script src='{% static "assets/bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "assets/dropdown/js/script.min.js" %}'></script>
    <script src='{% static "assets/playervimeo/vimeo_player.js" %}'></script>
    <script src='{% static "assets/parallax/jarallax.min.js" %}'></script>
    <script src='{% static "assets/countdown/jquery.countdown.min.js" %}'></script>
    <script src='{% static "assets/smoothscroll/smooth-scroll.js" %}'></script>
    <script src='{% static "assets/touchswipe/jquery.touch-swipe.min.js" %}'></script>
    <script src='{% static "assets/theme/js/script.js" %}'></script>
    <script src='{% static "assets/formoid/formoid.min.js" %}'></script>

  <!-- old js
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="{% static "boards/js/bootstrap.min.js" %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
-->
</html>
