{% extends 'base.html' %}
{% load static %}
{%block title %}Homepage{% endblock %}
<!-- old nav breadcrumb
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Home</a></li>
{% endblock %}
-->
{% block content %}
<!-- old Banner
  <section id="banner">
    <div class="inner">
      <header>
        <h1>Welcome to KuPa Counselour</h1>
      </header>
    -->

    <section class="engine"><a href="https://mobiri.se/s">bootstrap themes</a></section><section class="header13 cid-qJ7KGUuyjv mbr-fullscreen mbr-parallax-background" id="header13-1">





        <div class="container">
            <div class="mbr-media show-modal align-center pb-4 mb-4 pt-5" data-modal=".modalWindow">
                <span class="mbri-play mbr-icofont"></span>
            </div>

            <h1 class="mbr-section-title align-center pb-3 mbr-white mbr-bold mbr-fonts-style display-1">
                Know MRSM KuPa</h1>

            <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Official website of MRSM Kubang Pasu Counselling Department</h3>

            <div class="container mt-5 pt-5 pb-5">
                <div class="media-container-column" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Thanks for filling out the form!</div>

                    <form class="form-inline" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                        <input type="hidden" value="aEQRcJMIjGyyA4mjm13NyCnb+xrVNgYDsZVTMifF4JkvWS4jlbaodZfON9XG7k4JHVlN8V5cHKqPPLiTa/wNp9CcrvQt5F7FADHhP37aJzX3d5VS0M8ztIVlHH5F01F6" data-form-email="true">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" placeholder="Name" id="name-header13-1">
                        </div>
                        <div class="form-group">

                        </div>
                        <div class="form-group">

                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div>
            <div class="modalWindow" style="display: none;">
                <div class="modalWindow-container">
                    <div class="modalWindow-video-container">
                        <div class="modalWindow-video">
                            <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="http://www.youtube.com/watch?v=UuSjHjTlgiY"></iframe>
                        </div>
                        <a class="close" role="button" data-dismiss="modal">
                            <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                            <span class="sr-only">Close</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
                <i class="mbri-down mbr-iconfont"></i>
            </a>
        </div>
    </section>

    <section class="mbr-section content5 cid-qJ7KKQwGgZ mbr-parallax-background" id="content5-2">





        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 col-md-8">
                    <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                        Features</h2>
                    <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Why and to who this website built for?</h3>


                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section article content12 cid-qJ7KM0JEYO" id="content12-3">


        <div class="container">
            <div class="media-container-row">
                <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                    <ul>
                        <li><strong>C-BOOKING</strong>&nbsp;- Simplified and enhanced new system for students and teachers to book &nbsp;appointments for counselling sessions.&nbsp;<a href="https://kupacounselour.herokuapp.com/roombooking">Try it now!</a></li>
                        <li><strong>STUDENT DATABASE&nbsp;</strong>- Remastered database of students from a counselour point of view in which any teachers can access to anytime . &nbsp;<a href="https://kupacounselour.herokuapp.com/student">Try it now!</a></li>
                        <li><strong>C-Forum&nbsp;</strong>- Beautifully handcrafted web-forum for anyone even not from MRSM KuPa to just talk about anything . T&amp;C apply.&nbsp;<a href="https://kupacounselour.herokuapp.com/boards">Try it now!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="countdown1 cid-qJ7KWeoHnT" id="countdown1-7">



        <div class="container ">
            <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
                Countdown SPM</h2>
            <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                Because Why not?</h3>

        </div>
        <div class="container countdown-cont align-center">
            <div class="daysCountdown" title="Days"></div>
            <div class="hoursCountdown" title="Hours"></div>
            <div class="minutesCountdown" title="Minutes"></div>
            <div class="secondsCountdown" title="Seconds"></div>
            <div class="countdown pt-5 mt-2" data-due-date="2018/11/12">
            </div>
        </div>
    </section>

    <section class="footer3 cid-r4f5xWalaM mbr-reveal" id="footer3-c">





        <div class="container">
            <div class="media-container-row content">
                <div class="col-md-2 col-sm-4">
                    <div class="mb-3 img-logo">
                        <a href="https://mobirise.com/">
                             <img src='{% static "assets/images/logo20maktab20rendah20sains20mara20mrsm-192x146.png" %}' alt="Mobirise" title="">
                        </a>
                    </div>
                    <p class="mbr-fonts-style foot-logo display-7">
                        MRSM KuPa</p>
                </div>
                <div class="col-md-3 col-sm-4">
                    <p class="mb-4 mbr-fonts-style foot-title display-7">
                        RECENT NEWS
                    </p>
                    <p class="mbr-text mbr-links-column mbr-fonts-style display-7">
                        <a href="#" class="text-black">About us</a>
                        <br>Get In Touch</p>
                </div>
                <div class="col-md-3 col-sm-4">
                    <p class="mb-4 mbr-fonts-style foot-title display-7">
                        CATEGORIES
                    </p>
                    <p class="mbr-text mbr-fonts-style mbr-links-column display-7">C-Forum<br>Student Database<br>C-Booking</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <p class="mb-4 mbr-fonts-style foot-title display-7">
                        SUBSCRIBE
                    </p>
                    <p class="mbr-text form-text mbr-fonts-style display-7">
                        Get monthly updates and free resources.
                    </p>
                    <div class="media-container-column" data-form-type="formoid">
                        <div data-form-alert="" hidden="" class="align-center">Thanks for filling out the form!</div>

                        <form class="form-inline" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                            <input type="hidden" value="1cyXEHM4vJciTOu5atUBY36Wa8n97shtKUIzckNDQlWkdTXaKM5ibW9fo6p4EwwiA8cEaj/akasYn6kkXCN+ZGU/i/hC5RvsbWO44FbB411wBxlb6YvEwYb5hf/bY45y" data-form-email="true">
                            <div class="form-group">
                                <input type="email" class="form-control input-sm input-inverse my-2" name="email" required="" data-form-field="Email" placeholder="Email" id="email-footer3-c">
                            </div>
                            <div class="input-group-btn m-2"><button href="" class="btn btn-primary display-4" type="submit" role="button">Subscribe</button></div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            © Copyright 2018 MRSM Kubang Pasu - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                    <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.behance.net/Mobirise" target="_blank">
                                    <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
