{% extends 'base.html' %}
{% load static %}
{%block title %}Homepage{% endblock %}
<!-- old nav breadcrumb
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Home</a></li>
{% endblock %}
-->
{% block content %}
<!-- old Banner
  <section id="banner">
    <div class="inner">
      <header>
        <h1>Welcome to KuPa Counselour</h1>
      </header>
    -->

    <section class="engine"><a href="https://mobiri.se/s">bootstrap themes</a></section><section class="header13 cid-qJ7KGUuyjv mbr-fullscreen mbr-parallax-background" id="header13-1">





        <div class="container">
            <div class="mbr-media show-modal align-center pb-4 mb-4 pt-5" data-modal=".modalWindow">
                <span class="mbri-play mbr-icofont"></span>
            </div>

            <h1 class="mbr-section-title align-center pb-3 mbr-white mbr-bold mbr-fonts-style display-1">
                Know MRSM KuPa</h1>

            <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Official website of MRSM Kubang Pasu Counselling Department</h3>

            <div class="container mt-5 pt-5 pb-5">
                <div class="media-container-column" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Thanks for filling out the form! (Dummy form for now)</div>

                    <form class="form-inline" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                        <input type="hidden" value="aEQRcJMIjGyyA4mjm13NyCnb+xrVNgYDsZVTMifF4JkvWS4jlbaodZfON9XG7k4JHVlN8V5cHKqPPLiTa/wNp9CcrvQt5F7FADHhP37aJzX3d5VS0M8ztIVlHH5F01F6" data-form-email="true">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm input-inverse" name="name" required="" data-form-field="Name" placeholder="Name" id="name-header13-1">
                        </div>
                        <div class="form-group">

                        </div>
                        <div class="form-group">

                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div>
            <div class="modalWindow" style="display: none;">
                <div class="modalWindow-container">
                    <div class="modalWindow-video-container">
                        <div class="modalWindow-video">
                            <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="http://www.youtube.com/watch?v=UuSjHjTlgiY"></iframe>
                        </div>
                        <a class="close" role="button" data-dismiss="modal">
                            <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                            <span class="sr-only">Close</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
                <i class="mbri-down mbr-iconfont"></i>
            </a>
        </div>
    </section>

    <section class="mbr-section content5 cid-qJ7KKQwGgZ mbr-parallax-background" id="content5-2">





        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 col-md-8">
                    <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                        Features</h2>
                    <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Why and to who this website built for?</h3>


                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section article content12 cid-qJ7KM0JEYO" id="content12-3">


        <div class="container">
            <div class="media-container-row">
                <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                    <ul>
                        <li><strong>C-BOOKING</strong>&nbsp;- Simplified and enhanced new system for students and teachers to book &nbsp;appointments for counselling sessions.&nbsp;<a href="{% url 'boards_index' %}">Try it now!</a></li>
                        <li><strong>STUDENT DATABASE&nbsp;</strong>- Remastered database of students from a counselour point of view in which any teachers can access to anytime . &nbsp;<a href="{% url 'studentdb_index' %}">Try it now!</a></li>
                        <li><strong>C-Forum&nbsp;</strong>- Beautifully handcrafted web-forum for anyone even not from MRSM KuPa to just talk about anything . T&amp;C apply.&nbsp;<a href="#" onclick="RedirectURL();return false;">Try it now!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="countdown1 cid-qJ7KWeoHnT" id="countdown1-7">



        <div class="container ">
            <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
                Countdown SPM Result</h2>
            <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                Because Why not?</h3>

        </div>
        <div class="container countdown-cont align-center">
            <div class="daysCountdown" title="Days"></div>
            <div class="hoursCountdown" title="Hours"></div>
            <div class="minutesCountdown" title="Minutes"></div>
            <div class="secondsCountdown" title="Seconds"></div>
            <div class="countdown pt-5 mt-2" data-due-date="2020/03/12">
            </div>
        </div>
    </section>
 {% endblock %}
