{% extends 'base.html' %}
{%block title %}Student Database{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/studentdb">Student Database</a></li>
<li class="breadcrumb-item active" aria-current="page">{{student.no_kp}}</a></li>
{% endblock %}
{% block content %}
<div class="container">
<h1>Name = {{student.name}}</h1>
 <p>Class = {{student.batch}}0{{student.student_class}}</p>
 <p>No Maktab = KP{{student.no_kp}}</p>
 <p>Homeroom = HR {{student.homeroom}} </p>
 <p>I am child number {{student.child_no}} out of {{student.siblings}} siblings </p>
 <p>Phone Number = +6{{student.phone_number}} </p>
 <p>IC = {{student.no_ic}} </p>
</div>
{% endblock %}
