{% extends 'base.html' %}
{%block title %}Student Database{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Student Database</a></li>
{% endblock %}
{% block content %}
<div class="container">

  <h1>STUDENT DATABASE HERE</h1>

  <p>
    <ul>
    {% for student in object_list %}
      <li>
        <a href="{{student.no_kp}}">{{ student.name }}</a>
      </li>
    {% endfor %}
    </ul>
  </p>

</div>
{% endblock %}
